.operationsListTable {
    margin: 10px 50px auto 50px;
}

.operationsListTableHeader,
.operationsListTableRow {
    margin-bottom: 1px;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 60px 60px 210px 100px 600px 140px 160px 140px 230px 80px;
    text-align: center;
}

.oplistButtonForm {
    display: grid;
    grid-gap: 2px;
    grid-template-rows: 1fr;
    grid-template-columns: 125px 250px 187px 200px 132px 95px;
    margin: 10px auto auto 50px;
}

.importButtonForm {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 300px 170px 170px;
}

.importButtonForm,
.importTable {
    margin: 10px 50px auto 50px;
}

.importTable,
.importTableHeader,
.importTableRow {
    display: grid;
    grid-gap: 2px;
    text-align: center;
}

.importTableHeader,
.importTableRow {
    grid-template-columns: 140px 70px 70px 90px 80px 90px 80px 140px 430px 140px 280px 90px 80px;
}

.categoriesComparisonBlock {
    margin: 0 auto auto 0;
}

.comparisonBlockMenu {
    width: 10%;
}

.comparisonBlockMenuLink {
    padding: 1rem 1.5rem;
    border-radius: 0!important;
}

.comparisonBlockContent {
    width: 90%;
    padding: 5px 600px 0 400px;
}

.descriptionsSearch {
    width: 100%;
    margin-bottom: 1px;
}

.comparisonBlockMcc,
.comparisonBlockCats,
.comparisonBlockDesc {
    display: grid;
    grid-gap: 2px;
}

.comparisonBlockMcc,
.comparisonBlockCats {
    grid-template-columns: 1fr 1fr 0.5fr;
}

.comparisonBlockDesc {
    grid-template-columns: 2.5fr 0.5fr 0.5fr;
}