<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block scripts %}{% endblock %}
    {% block styles %}{% endblock %}
</head>
<body>
<header>
    {% block header %}
    <nav class="mainMenu">
        {% for item in main_menu_links %}
            <a class="mainMenuLink" href="{{ item.href }}">{{ item.link_title }}</a>
        {% endfor %}
    </nav>
    {% endblock %}
</header>
<main>
    {% block main %}
    {% endblock %}
</main>
<footer>
    {% block footer %}
    {% endblock %}
</footer>
</body>
</html>