{% extends "base.html" %}

{% block title %}Categories{% endblock %}

{% block scripts %}
    <script src="/js/categories.js"></script>
{% endblock %}

{% block styles %}

{% endblock %}

{% block main %}

<div class="row categoriesComparisonBlock">
    <div class="nav flex-column nav-pills comparisonBlockMenu" role="tablist" aria-orientation="vertical">
        <a class="nav-link comparisonBlockMenuLink active" id="tab-mcc-cats" data-toggle="pill" href="#aria-mcc-cats" role="tab" aria-selected="true">MCC -> Categories</a>
        <a class="nav-link comparisonBlockMenuLink" id="tab-cats-types" data-toggle="pill" href="#aria-cats-types" role="tab" aria-selected="false">Categories -> Types</a>
    </div>
    <div class="tab-content comparisonBlockContent">
        <div class="tab-pane fade show active" id="aria-mcc-cats" role="tabpanel">
            <div class="comparisonBlockMccCats">

            </div>
        </div>
        <div class="tab-pane fade" id="aria-cats-types" role="tabpanel">
            <div class="comparisonBlockCatsTypes">

            </div>
        </div>
    </div>
</div>

{% endblock %}