{% extends "base.html" %}

{% block title %}Descriptions{% endblock %}

{% block scripts %}
    <script src="/js/descriptions.js" defer></script>
{% endblock %}

{% block styles %}

{% endblock %}

{% block main %}

<div class="row categoriesComparisonBlock">
    <div class="comparisonBlockContent">
        <div>
            <input class="descriptionsSearch" id="descriptionsSearchInput">
        </div>
        <div class="descriptionsListTableContainer">
            {{ include('descriptions_table.html') }}
        </div>
    </div>
</div>

{% endblock %}