{% extends "base.html" %}

{% block title %}Import{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/papaparse.js"></script>
    <script src="/js/import.js"></script>
{% endblock %}

{% block main %}

<p>
    <input class="importForm" id="file" type="file" name="file">
    <input class="importButton" type="submit" value="Импортировать">
</p>

<table class="importTable">
    <tr class="importTableHeader">
        <th>Дата операции</th>
        <th>Номер карты</th>
        <th>Статус</th>
        <th>Сумма операции</th>
        <th>Валюта операции</th>
        <th>Сумма платежа</th>
        <th>Валюта платежа</th>
        <th>Категория</th>
        <th>MCC</th>
        <th>Описание</th>
        <th>Бонусы (включая кэшбэк)</th>
    </tr>
</table>


{% endblock %}