{% extends "base.html" %}

{% block title %}Import{% endblock %}

{% block scripts %}
    <script src="/js/papaparse.js"></script>
    <script src="/js/import.js"></script>
{% endblock %}

{% block styles %}

{% endblock %}

{% block main %}

<div class="form-group importButtonForm" id="topImportButtonForm">
    <input type="file" class="form-control-file importCsvFileInput" id="importCsvFileInput">
    <input type="submit" id="loadFileButton" value="Загрузить файл">
</div>

<div class="importTable">
</div>

<div class="form-group importButtonForm">
</div>

{% endblock %}