{% extends "base.html" %}

{% block title %}Import{% endblock %}

{% block scripts %}
    <script src="/js/papaparse.js"></script>
    <script src="/js/import.js"></script>
{% endblock %}

{% block styles %}

{% endblock %}

{% block main %}

<p>
    <input class="importForm" id="file" type="file" name="file">
    <input class="importButton" type="submit" value="Импортировать">
    <input class="exportButton" type="submit" value="Загрузить">
</p>

<div class="importTable">
</div>

{% endblock %}