{% extends "base.html" %}

{% block title %}Operations List{% endblock %}

{% block scripts %}
    <script src="/js/oplist.js"></script>
{% endblock %}

{% block styles %}{% endblock %}

{% block main %}
<div class="operationsListTable">
    <div class="operationsListTableHeader badge-primary">
        <span>id</span>
        <span>Date</span>
        <span>Sum</span>
        <span>Card</span>
        <span>Payee</span>
        <span>Description</span>
        <span>MCC</span>
        <span>Category</span>
        <span>Type</span>
        <span>Comment</span>
    </div>
    {% for row in op_list_table %}
    <div class="operationsListTableRow" id="row_{{ row.id }}">
        <span>{{ row.id }}</span>
        <span>{{ row.operation_date }}</span>
        <span>{{ row.bargain_sum }}</span>
        <span>{{ row.card }}</span>
        <span>{{ row.owner }}</span>
        <span>{{ row.description }}</span>
        <select>
            <option selected value="{{ row.mcc_id }}">{{ row.mcc }}</option>
        </select>
        <span>{{ row.category }}</span>
        <span>{{ row.type }}</span>
        <input>{{ row.comment }}</input>
        <button type="button" class="deleteOperationButton" id="d{{ row.id }}" data-toggle="modal" data-target="#deleteOperationModal">Удалить</button>
    </div>
    {% endfor %}
</div>

<!-- Modal -->
<div class="modal fade" id="deleteOperationModal" tabindex="-1" role="dialog" aria-labelledby="deleteOperationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteOperationModalLabel">Delete operation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you really want to delete the operation?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Nope</button>
                <button type="button" class="btn btn-danger deleteOperationModalButton" id="deleteOperationModalButton" data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}